<form action="/home/update/:id" method="post">

    제목: <input type="text" name="post_title" value="<%=@post.title%>"><br>
    내용: <input type="text" name="post_content"value="<%=@post.content%>"><br>
  <input type="submit" value="제출">
</form>
