<h1>여기는 게시물이 보이는 페이지입니다.</h1>
    <% @post.each do |x| %>
    제목: <%=x.title%><br>
    내용: <%=x.content%><br>
    <a href= '/home/destroy/:id'>삭제</a><br>
    <a href= '/home/edit/:id'>수정하기</a><br>
    
   
-------------------------------------------------------------------<br>
<a href='/home/new'>글쓰러가기</a>